<!doctype html>
<html>
<head>
  <link rel= "stylesheet" href="css/style.css"/>
</head>

    <div class="row navigationBar">
      <div class="col dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          &#9776;
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="./home">Home</a>
          <a class="dropdown-item" href="./about">About</a>
          <a class="dropdown-item" href="./contact">Contact</a>
        </div>
      </div>  
    </div>

{{{body}}}

</html>