<head>
    <title>TheHikeExchange - About Us</title>
</head>

<body class="pageBody">
    
<div class="pageHeader" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/about_us.jpg');">
    <div class="pageHeaderContent formFix">
        <div class="row">
            <div class="col about">
                <h1>What is The HikeExchange?</h1>
                <p>The HikeExchange is an initiative for letting fellow hikers share their favourite hikes and to exlore new hikes.</p>
                <p>Help us grow the HikeBase and let ever more hikers experience your best hikes!</p>
            </div>    
        </div> 
        <div class="row">
            <div class="col-1"> 
            </div>
            <div class="col-10">       
                <a class="btn btn-outline-secondary page-btn" href="/discover_hike">Explore the HikeBase</a>
            </div>
            <div class="col-1"> 
            </div>    
        </div>
    </div>    
</div>

</body>