<head>
    <title>TheHikeExchange - Contact Us</title>
</head>

<body class="pageBody">
   
<div class="pageHeader" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/contact.jpg');">
    <div class="ContactHeaderContent formFix">
        <div class="row">
            <div class="col mWidth">
                <h1>Contact The HikeExchange</h1>
                <p>For questions and inqueries The HikeExchange team can be contacted on mail 
                    <a class="emailLink" href="mailto:wearehikers@gmail.com</p>">wearehikers@gmail.com</a>
                <p>Be sure to follow us on social media for more HikeSharing</p>
            </div>   
        </div> 

        <div class="row">
            <div class="col socialMedia">
                <a class= "socialMediaItems" href="www.instagram.com/"><i class="fa fa-instagram"></i> </a>
                <a class= "socialMediaItems" href="www.facebook.com/"><i class="fa fa-facebook"></i> </a>
            </div>
        </div>

        <div class="row">
            <div class="col-1"> 
            </div>
            <div class="col-10">       
                <a class="btn btn-outline-secondary page-btn" href="/">Explore The HikeExchange</a>
            </div>
            <div class="col-1"> 
            </div>    
        </div>
    </div>    
</div>

</body>
