<!doctype html>
<html lang="en">

  <body>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/FullSizeRender.jpg');">
      <div class="banner-content">
        <h1>The HikeExchange</h1>
        <p>Discover and share your favorite hikes</p>
        <div class="row">
            <div class="col-6">
              <a class="btn btn-outline-secondary banner-btn" href="/discover_hike">Search hikes</a>
            </div> 
            <div class="col-6">
              <a class="btn btn-outline-secondary banner-btn" href="/share_hike_form">Share hikes</a>
            </div>  
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-6">
          <h4>This is a headline</h4>
          <p>image here, anf possible myre text or another box of image/ text</p>
        </div>
        <div class="col-6">
          <h4>This is a headline</h4>
          <p>image here, anf possible myre text or another box of image/ text</p>
        </div>
      </div>
    </div>

  </body>
</html>