<body class="pageBody">
    
    <div class="pageHeader" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/404_image.jpg');">
        <div class="pageHeaderContent formFix">
            <div class="row">
                <div class="col about">
                    <h1>404:</h1>
                    <h2>Sorry, the HikeBase has no such hike!</h2>
                    <p>But don't let that keep you from hiking</p>
                </div>    
            </div> 
            <div class="row">
                <div class="col-1"> 
                </div>
                <div class="col-10">       
                    <a class="btn btn-outline-secondary 404-btn page-btn" href="/">Get back on track</a>
                </div>
                <div class="col-1"> 
                </div>    
            </div>
        </div>
    </div>

</body>