<head>
    <title>TheHikeExchange - Share a Hike</title>
</head>

<body class="bodyShareHike">

{{#unless post}}
    <div class="shareHeader" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/share_header_compass.jpg');">
        <div class="shareHeaderContent">
            <h1>Share your favourite hikes on The HikeExchange</h1>
            <p>Help us grow our HikeBase, so that your favourite hikes might become someone else's favorite hike as well!</p>
        </div>
    </div>  

    <div class="container">
        <form class="hikeForm formFix" action="/share_hike_form" method="post">
            <!-- About the User -->
            <div class="row">
                <div class="col form-group">
                    <input type="text" class="form-control" name="firstName" placeholder="First name">
                </div>
                <div class="col form-group">
                    <input type="text" class="form-control" name="lastName" placeholder="Last name">
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com">
                </div>
            </div>
            <!-- About the Hike -->
            <div class="row">
                <div class="col form-group">
                    <input type="text" class="form-control" name="hikeName" placeholder="Name your hike">
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="region" placeholder="Select region">
                        <option>Paris-region</option>
                        <option>Marseille-region</option>
                        <option>Lyon-region</option>
                        <option>Toulouse-region</option>
                        <option>Nice-region</option>
                    </select>
                </div>
                <div class="col form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="duration" placeholder="Select time duration">
                        <option>&lt; 1 hour</option>
                        <option>1-2 hour(s)</option>
                        <option>2-3 hours</option>
                        <option>3-5 hours</option>
                        <option>Daytrip (>5 hours)</option>
                    </select>
                </div>
                <div class="col form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="difficulty" placeholder="Select difficulty level">
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1 fieldValue" rows="10" name="description" placeholder="Give a description of your hike"></textarea>
                </div>    
            </div>
        
        <div class="row">
            <div class="col-1">
                </div>    
                    <div class="col-10">
                        <center><button type="submit" onClick="return empty()" class="btn btn-outline-secondary submit-btn">
                            Share your hike</button></center>
                    </div>
                <div class="col-1">
            </div>
        </div>
        </form>    
    </div>

{{/unless}}



{{#if post}}
    <div class="pageHeader" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/thank_you_banner.jpg');">
        <div class="pageHeaderContent">
            <div class="row">
                <div class="col">
                    <h1>Thank you for sharing your hike!</h1>
                </div>    
            </div> 
            <div class="row">
                <div class="col-1"> 
                </div>
                <div class="col-10">       
                    <a class="btn btn-outline-secondary page-btn" href="/">Explore more hikes</a>
                </div>
                <div class="col-1"> 
                </div>    
            </div>
        </div>    
    </div> 
{{/if}}

</body>