<head>
    <title>TheHikeExchange - Share a Hike</title>
</head>

<body class="bodyShareHike">

{{#unless post}}
    <div class="shareHeader" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/share_header_compass.jpg');">
        <div class="shareHeaderContent">
            <h1>Share your favourite hikes on The HikeExchange</h1>
            <p>Help us grow our HikeBase, so that your favourite hikes might become someone else's favorite hike as well!</p>
        </div>
    </div>  

    <div class="container">
        <form class="hikeForm formFix" action="/share_hike_form" method="post">
            <!-- About the User -->
            <div class="row">
                <div class="col form-group">
                    <input type="text" class="form-control" name="firstName" placeholder="First name" required="required">
                </div>
                <div class="col form-group">
                    <input type="text" class="form-control" name="lastName" placeholder="Last name" required="required">
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="name@example.com" required="required">
                </div>
            </div>
            <!-- About the Hike -->
            <div class="row">
                <div class="col form-group">
                    <input type="text" class="form-control" name="hikeName" placeholder="Name your hike" required="required">
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="region" placeholder="Select region" required>
                        <option value="">Region</option>
                        <option value="Paris-region">Paris-region</option>
                        <option value="Marseille-region">Marseille-region</option>
                        <option value="Lyon-region">Lyon-region</option>
                        <option value="Toulouse-region">Toulouse-region</option>
                        <option value="Nice-region">Nice-region</option>
                    </select>
                </div>
                <div class="col form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="duration" placeholder="Select time duration" required>
                        <option value="">Duration</option>
                        <option value="&lt; 1 hour">&lt; 1 hour</option>
                        <option value="1-2 hour(s)">1-2 hour(s)</option>
                        <option value="2-3 hours">2-3 hours</option>
                        <option value="3-5 hours">3-5 hours</option>
                        <option value="Daytrip (>5 hours)">Daytrip (>5 hours)</option>
                    </select>
                </div>
                <div class="col form-group">
                    <select class="form-control" id="exampleFormControlSelect1" name="difficulty" placeholder="Select difficulty level" required>
                        <option value="">Difficulty</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="description" placeholder="Give a description of your hike" required="required"></textarea>
                </div>    
            </div>
            <div class="row">
                <div class="col form-group">
                    <input type="url" class="form-control" name="photoURL" placeholder="Photo URL" required="required">
                </div>
            </div>
        
        <div class="row">
            <div class="col-1">
                </div>    
                    <div class="col-10">
                        <center><button type="submit" class="btn btn-outline-secondary submit-btn">
                            Share your hike</button></center>
                    </div>
                <div class="col-1">
            </div>
        </div>
        </form>    
    </div>

{{/unless}}



{{#if post}}
    <div class="pageHeader" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/thank_you_banner.jpg');">
        <div class="pageHeaderContent formFix2">
            <div class="row">
                <div class="col">
                    <h1>Thank you for sharing your hike!</h1>
                </div>
            </div> 
            <div class="row">
                <div class="col-1"> 
                </div>
                <div class="col-10">       
                    <a class="btn btn-outline-secondary page-btn" href="/">Explore more hikes</a>
                </div>
                <div class="col-1"> 
                </div>    
            </div>
        </div>    
    </div> 
{{/if}}

</body>