
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top{
    height: 360px;
    text-align: center;
    background-image: url(./FullSizeRender.jpg);
    height: 360px;
    width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.button {
    align-content: center;
    text-align: center;
    enable-background: 10px;
    opacity: 0.8;
}